<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.xty.platform.controller.basic" />

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"/>
        <property name="suffix" value=".html"/>
    </bean>

    <!--静态资源访问-->
    <mvc:default-servlet-handler />

    <!-- SpringMVC上传文件时，需要配置MultipartResolver处理器 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <!-- 指定所上传文件的总大小不能超过20MB。注意maxUploadSize属性的限制不是针对单个文件，而是所有文件的容量之和 -->
        <property name="maxUploadSize" value="20000000"/>
    </bean>

    <!-- SpringMVC在超出上传文件限制时，会抛出org.springframework.web.multipart.MaxUploadSizeExceededException -->
    <!-- 该异常是SpringMVC在检查上传的文件信息时抛出来的，而且此时还没有进入到Controller方法中 -->
    <bean id="exceptionResolver"
          class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <!-- 遇到MaxUploadSizeExceededException异常时，自动跳转到/WEB-INF/jsp/error_fileupload.jsp页面 -->
                <prop
                        key="org.springframework.web.multipart.MaxUploadSizeExceededException">error_fileupload
                </prop>
            </props>
        </property>
    </bean>

    <!--拦截器-->
    <mvc:interceptors>
        <!--参数验证-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.xty.platform.controller.interceptor.ParamsInterceptor"></bean>
        </mvc:interceptor>

        <!--sql验证-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.xty.platform.controller.interceptor.SqlInjectInterceptor"></bean>
        </mvc:interceptor>

        <!--session验证-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/login"/>
            <mvc:exclude-mapping path="/logout"/>
            <bean class="com.xty.platform.controller.interceptor.SessionInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <mvc:annotation-driven />

    <aop:aspectj-autoproxy expose-proxy="true"/>
</beans>